doc/flows.json
[{"id":"8c0baf3c.3d36c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e94bf0.da3ae4","type":"umbparser","z":"8c0baf3c.3d36c8","name":"","x":850,"y":100,"wires":[["b9eb63b1.e511a"]]},{"id":"7978b9ed.799da8","type":"inject","z":"8c0baf3c.3d36c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["752b93d2.f89b6c"]]},{"id":"b9eb63b1.e511a","type":"debug","z":"8c0baf3c.3d36c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":320,"wires":[]},{"id":"752b93d2.f89b6c","type":"umbgenerator","z":"8c0baf3c.3d36c8","name":"","address":"7001","channels":"100,200,300,400,500,600,601,700,900,903,904,910,911","x":310,"y":100,"wires":[["b9eb63b1.e511a","c1c4f151.b64578"]]},{"id":"c1c4f151.b64578","type":"tcp request","z":"8c0baf3c.3d36c8","server":"192.168.178.171","port":"9750","out":"sit","splitc":" ","name":"WS10-Wifi","x":550,"y":240,"wires":[["9e94bf0.da3ae4","b9eb63b1.e511a"]]}]